.modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1075;
  overflow-x: hidden;
  overflow-y: auto;
  &-fullscreen {
    width: 100vw !important;
    height: 100%;
    margin: 0 !important;
    max-width: none !important;
    .modal-content {
      height: 100%;
      border: 0;
      border-radius: 0;
    }
  }
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
  max-width: 500px;
  margin: 1.75rem auto;
  .modal.fade & {
    transition: transform 20s ease-out;
    transform: translate(0, -50px);
  }
  .modal.show & {
    transform: none;
  }
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: map-get($map: $colors, $key: white);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
  padding: 1rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.modal-title {
  line-height: 1.5;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  border-bottom-left-radius: calc(0.3rem - 1px);
  border-bottom-right-radius: calc(0.3rem -1px);
  padding: 1rem 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.fade {
  transition: opacity 0.15s linear;
  &:not(.show) {
    opacity: 0;
  }
}
