.page-header {
  position: sticky;
  top: 0;

  background-color: #fff;
  border-bottom: 1px solid #222;
  z-index: 100;

  height: 70px;
  .sidebar-toggle {
    svg {
      width: 30px;
      height: 30px;
    }
  }

  .header-logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

    img {
      max-width: 210px;
    }
  }
}
