.page-body {
  width: calc(100% - 250px);
  padding: 0 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  .page-main {
    margin-top: 30px;
  }
  &.active {
    width: 100%;
  }
}

.example {
  &:not(:first-of-type) {
    margin-top: 20px;
  }
  .btn {
    margin: 0.25em 0.25em;
  }
  .btn-group {
    margin: 0.5em 0.25em;
  }
  .card {
    margin-top: 10px;
  }
}
